* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: hsl(233, 26%, 24%);
  list-style: none;
}
body {
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
  align-items: center;
  background-color: white;
}
nav#header-nav a {
  margin: 0 1rem;
  color: hsl(233, 8%, 62%);
  transition: cubic-bezier(0, 0.31, 0.19, 1.32) 0.5s;
}
nav#header-nav a:hover {
  padding-bottom: 1.5rem;
  border-bottom: solid 7px hsl(192, 70%, 51%);
}
a.invite-btn {
  color: white;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  background-image: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  border-radius: 20px;
}
a.invite-btn:hover {
  background-image: linear-gradient(to left, #7fd5e2, #86e2a2);
}
#hamburger-btn {
  display: none;
}
#intro {
  display: flex;
  height: fit-content;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  /* z-index: -1; */
}
#intro-description {
  margin: auto 4rem;
}
#intro-description h1 {
  padding-bottom: 2rem;
  font-size: 4rem;
  font-weight: 200;
}
#intro-description p {
  padding-bottom: 2rem;
  color: hsl(233, 8%, 62%);
  /* text-indent: 1rem; */
  line-height: 1.5rem;
}
#intro-mockup-img {
  position: relative;
}
#bg {
  width: inherit;
  overflow: hidden;
}
#bg img:nth-child(1) {
  position: relative;
  width: 120%;
  margin: -12rem 3rem 0 0;
}
#bg img:nth-child(2) {
  display: none;
}
#mockup {
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}
#mockup img {
  position: relative;
  top: -8rem;
  right: -8rem;
}
#features {
  background-color: hsl(220, 16%, 96%);
  padding: 0 6.5rem;
}
h1.title {
  margin-left: 1.5rem;
  padding: 7rem 0 1rem 0;
  font-size: 3rem;
  font-weight: 200;
}
#features #reason {
  width: 40%;
  padding-bottom: 5rem;
  margin-left: 1.5rem;
}
#features p {
  color: hsl(233, 8%, 62%);
  line-height: 1.5rem;
}
#features ul,
#articles ul {
  display: flex;
  justify-content: space-around;
}
#features ul li {
  width: 21%;
  padding-bottom: 5rem;
}
#features ul li h1 {
  font-size: 1.5rem;
  font-weight: 200;
  padding: 1.5rem 0;
  margin: 0;
}
#articles {
  padding: 0 6.5rem 4rem 6.5rem;
  background-color: hsl(0, 0%, 98%);
}
#articles ul li {
  width: 21%;
  height: 80%;
  background-color: white;
  border-radius: 5px;
  margin: 3rem 0;
}
#articles ul li article {
  padding: 1rem;
  width: 100%;
  height: 12rem;
}
#articles ul li img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#articles ul li article .author {
  font-size: 0.8rem;
  color: hsl(233, 8%, 62%);
}
#articles ul li article h1 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 0;
  cursor: pointer;
}
#articles ul li article h1:hover {
  color: hsl(136, 65%, 51%);
}
#articles ul li article p {
  font-size: 0.9rem;
  color: hsl(233, 8%, 62%);
}
footer {
  background-color: hsl(233, 26%, 24%);
  height: 13rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

footer section:nth-child(1) {
  height: 10rem;
  width: 50%;
  margin-left: -10rem;
  display: flex;
  justify-content: space-around;
}
footer article:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer article:nth-child(1) div#medsos img {
  margin: auto 0.5rem;
}
footer article:nth-child(1) div#medsos a:hover {
  color: hsl(136, 65%, 51%);
}
footer article:nth-child(2),
footer article:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer section article:nth-child(2) a,
footer section article:nth-child(3) a {
  color: white;
}
footer section:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer section:nth-child(2) p {
  padding-top: 3rem;
  color: hsl(233, 8%, 62%);
}
footer section article:nth-child(2) a:hover,
footer section article:nth-child(3) a:hover {
  color: hsl(136, 65%, 51%);
}
@media only screen and (max-width: 1350px) {
  header {
    justify-content: space-between;
    padding: 0 1rem;
  }
  #logo {
    width: 12rem;
  }
  nav#header-nav {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    background-color: white;
    position: absolute;
    top: 6rem;
    right: 5%;
    text-align: center;
    border-radius: 5px;
    transform: translateY(-1000px);
    transition: cubic-bezier(0, 0.31, 0.19, 1.32) 0.3s;
  }
  nav#header-nav a {
    padding-top: 2rem;
    font-size: 1.5rem;
    color: hsl(233, 26%, 24%);
  }
  nav#header-nav a:nth-child(5) {
    padding-bottom: 2rem;
  }
  header a.invite-btn {
    display: none;
  }
  a.invite-btn {
    pointer-events: none;
  }
  #hamburger-btn {
    display: inline;
    width: 2.5rem;
  }
  #intro {
    flex-direction: column-reverse;
    height: fit-content;
  }
  #bg {
    height: 100%;
  }
  #bg img:nth-child(2) {
    display: inline;
    width: 100%;
  }
  #bg img:nth-child(1) {
    display: none;
  }
  #mockup img {
    width: 100%;
    right: 0;
  }
  #intro-description {
    text-align: center;
    margin: 0 1.5rem 5rem;
  }
  #intro-description h1 {
    font-size: 3.3rem;
  }
  #features,
  #articles {
    text-align: center;
    padding: 0 2rem 5rem;
  }
  h1.title {
    margin: 0;
  }
  #features #reason {
    width: 100%;
    margin: 0;
  }
  #features ul,
  #articles ul {
    flex-direction: column;
  }
  #features ul li {
    width: 100%;
    padding-bottom: 3rem;
  }
  #articles ul li {
    width: 100%;
    margin: 1rem 0;
  }
  footer {
    flex-direction: column;
    height: fit-content;
    text-align: center;
    justify-content: center;
    padding: 3rem 0;
  }
  footer section:nth-child(1) {
    flex-direction: column;
    margin: 0 auto;
    height: fit-content;
  }
  footer article:nth-child(1) {
    align-items: center;
  }
  #medsos {
    padding: 2rem 0;
    width: max-content;
  }
  footer article:nth-child(2),
  footer article:nth-child(3) {
    padding-top: 2rem;
  }
  footer section article:nth-child(2) a:not(:first-child),
  footer section article:nth-child(3) a:not(:first-child) {
    padding-top: 2rem;
  }
  footer section:nth-child(2) {
    padding-top: 3rem;
    align-items: center;
  }
}
@media only screen and (min-width: 498px) {
  #features,
  #articles {
    padding: 0 5rem 5rem;
  }
}

@media only screen and (min-width: 630px) {
  #features,
  #articles {
    padding: 0 7rem 5rem;
  }
}
@media only screen and (min-width: 1000px) {
  #features,
  #articles {
    padding: 0 13rem 5rem;
  }
}
